@page "/books"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="page-container">
    <PageTitle>Books</PageTitle>

    <MudText Typo="Typo.h3" Class="page-title">Books</MudText>
    
    <div class="actions-container">
        <MudStack Row Class="action-stack">
            <MudButton
                Variant="Variant.Filled"
                StartIcon="@Icons.Material.Filled.Add"
                Color="Color.Info"
                Size="Size.Small"
                Href="/books/create"
                Class="action-button">
                New Book
            </MudButton>
            <MudButton
                Variant="Variant.Filled"
                StartIcon="@Icons.Material.Filled.Add"
                Color="Color.Info"
                Size="Size.Small"
                Href="/reviews/create"
                Class="action-button">
                New Review
            </MudButton>
        </MudStack>
    </div>
    
    <div class="left-align">
        <MudText >Books Read Count: @ReadCountCurrentYear</MudText>
    </div>
    
    <MudDataGrid Items="Books" Class="data-grid table-bordered">
        <Columns>
            <PropertyColumn Property="b => b.Isbn" Title="ISBN"></PropertyColumn>
            <PropertyColumn Property="b => b.Title" Title="Title"></PropertyColumn>
            <PropertyColumn Property="b => b.Description" Title="Description"></PropertyColumn>
            <PropertyColumn Property="b => b.Author" Title="Author"></PropertyColumn>
            <PropertyColumn Property="b => b.Genre" Title="Genre"></PropertyColumn>
            <PropertyColumn Property="b => b.Publisher" Title="Publisher"></PropertyColumn>
            <PropertyColumn Property="b => b.PublishDate" Title="Publish Date"></PropertyColumn>
            <PropertyColumn Property="b => b.Score" Title="Score"></PropertyColumn>
            <TemplateColumn>
                <CellTemplate>
                    <div class="actions-container">
                        <MudImage Src="@GetCover(context.Item.Id)" Class="cover-image">Cover</MudImage>
                        <MudStack Row Class="action-stack">
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.List"
                                Color="Color.Info"
                                Size="Size.Small"
                                Class="table-button"
                                onclick="@(() => GoToReviews(context.Item.Id))">
                                Reviews
                            </MudButton>
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Edit"
                                Color="Color.Warning"
                                Size="Size.Small"
                                Class="table-button"
                                onclick="@(() => GoToUpdate(context.Item.Id))">
                                Edit
                            </MudButton>
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Edit"
                                Color="Color.Warning"
                                Size="Size.Small"
                                Class="table-button"
                                onclick="@(() => GoToUpdateCover(context.Item.Id))">
                                Update Cover
                            </MudButton>
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error"
                                Size="Size.Small"
                                Class="table-button"
                                onclick="@(() => DeleteBook(context.Item.Id))">
                                Delete
                            </MudButton>
                        </MudStack>
                    </div>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>



