@page "/books/{bookId:guid}/reviews"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="page-container">
    <PageTitle>Reviews</PageTitle>

    <MudText Typo="Typo.h3" Class="page-title">Reviews</MudText>

    <MudButton
        Variant="Variant.Filled"
        StartIcon="@Icons.Material.Filled.Add"
        Color="Color.Info"
        Size="Size.Small"
        Href="/reviews/create"
        Class="action-button">
        New Review
    </MudButton>

    <MudDataGrid Items="Reviews" Class="data-grid table-bordered">
        <Columns>
            <PropertyColumn Property="r => r.Title" Title="Book"></PropertyColumn>
            <PropertyColumn Property="r => r.Isbn" Title="ISBN"></PropertyColumn>
            <PropertyColumn Property="r => r.Description" Title="Description"></PropertyColumn>
            <PropertyColumn Property="r => r.Score" Title="Score"></PropertyColumn>
            <TemplateColumn Class="d-flex justify-end">
                <CellTemplate>
                    <div class="actions-container">
                        <MudStack Row Class="action-stack">
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Add"
                                Color="Color.Info"
                                Size="Size.Small"
                                onclick="@(() => GoToUpdate(context.Item.Id))"
                                Class="action-button">
                                Edit
                            </MudButton>
                            <MudButton
                                Variant="Variant.Filled"
                                StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error"
                                Size="Size.Small"
                                onclick="@(() => DeleteReviewAsync(context.Item.Id))"
                                Class="action-button">
                                Delete
                            </MudButton>
                        </MudStack>
                    </div>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>
